<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('include/headerImport.ejs')%>
        <link rel="stylesheet" href="/stylesheets/auth.css">
        <title>
            <%=title%>
        </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container navbar-menu">
            <a class="navbar-brand" href="/"><img
                    src="https://storage.googleapis.com/www-static-academic-influence/school-logos/faculty-economics-finance-administration"
                    alt="Navbar"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin: 0 auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/players/1">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nations/1">Nations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/account">Users</a>
                    </li>
                </ul>
                <div class="action-button">
                    <% if(!isLogin) {%>
                        <a class="btn btn-primary" href="/auth">Sign In</a>
                        <a class="btn btn-outline-primary" href="/auth/register">Sign up</a>
                        <%}else{%>
                            <a class="btn btn-outline-primary" href="/auth/logout">Logout</a>
                            <%}%>
                </div>
            </div>
        </div>
    </nav>
    <div class="bg-img overlay"
        style="background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-green-hand-drawn-minimalistic-soccer-cup-player-background-image_193485.jpg');">
        <div class="container">
            <div class="row">
                <div class="alert-group">
                    <% if(typeof errors!='undefined' ){%>
                        <% errors.forEach(function(error){%>
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <%= error.msg %>
                            </div>
                            <% }); %>
                                <% } %>
                </div>
                <div class="col-lg-6 ml-auto">
                    <div class="form" style="top: 100px;">
                        <h2>Sign up</h2>

                        <form method="post" class="box">
                            <div class="mb-3">
                                <label class="label">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter your name">
                            </div>
                            <div class="mb-3">
                                <label class="label">Year of birth</label>
                                <input type="number" class="form-control" name="yob" placeholder="Enter year of birth">
                            </div>
                            <div class="mb-3">
                                <label class="label">Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Enter username">
                            </div>
                            <div class="mb-3">
                                <label class="label">Password</label>
                                <input type="password" class="form-control" name="password"
                                    placeholder="Enter password">
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="btn btn-primary is-link">Sign Up</button>
                                </div>
                                <div class="control">
                                    <p class="small fw-bold mt-2 pt-1 mb-0">Have an account! <a class="link-primary"
                                            href="/auth">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>